<form [formGroup]="loginForm"  class="w-50 mx-auto mt-5">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control"  id="email"
            formControlName="email" placeholder="Enter email" />
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control"
            id="password" formControlName="password" placeholder="Password" />
    </div>

    <button type="submit" class="btn btn-primary w-100">Login</button>
</form>