html {
  font-size: 15px;
  font-family: var(--font-camera-plain), "Camera Plain Variable", ui-sans-serif, system-ui, sans-serif;
}

.btn-primary{
  background-color: #14B8A6 !important;
  color: white !important;
  border-color: #14B8A6 !important;
  opacity: 1 !important;
  padding: 10px 23px !important;
  font-size: 14px !important;
}

.btn-secondary{
  background-color: white !important;
  color: black !important;
  border-color: #e6e6e6 !important;
  opacity: 1 !important;
  padding: 10px 23px !important;
  font-size: 14px !important;
}